
@{
    ViewData["HideFooter"] = true;
}
@{
    ViewData["BodyClass"] = "login-body";
}


<div class="login-wrapper">
    <div class="login-box">
        <div class="containerl" id="containerl">
        <div class="form-containerl sign-up-container">
            <form action="#" class="login">
                <h1 class="login">Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span class="login">or use your email for registration</span>
                <input class="login" type="text" placeholder="Name" />
                <input class="login" type="email" placeholder="Email" />
                <input class="login" type="password" placeholder="Password" />
                <button class="login">Sign Up</button>
            </form>
        </div>
        <div class="form-containerl sign-in-container">
            <form class="login" action="#">
                <h1 class="login">Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span class="login">or use your account</span>
                <input class="login" type="email" placeholder="Email" />
                <input class="login" type="password" placeholder="Password" />
                <a class="login" href="#">Forgot your password?</a>
                <button class="login">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="login">Welcome Back!</h1>
                    <p class="login">To keep connected with us please login with your personal info</p>
                    <button class="login ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class="login">Hello, Friend!</h1>
                    <p class="login">Enter your personal details and start journey with us</p>
                    <button class="login ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
    




